<div class="content" ngIf="!ratingComplete">
    <div class="book">
        <div class="book--title">
            Title: {{bookCollection[index].title}}
        </div>
        <div class="book--desc">
            Description: {{bookCollection[index].description}}
        </div>
        <div class="book--author">
            Author: {{bookCollection[index].author}}
        </div>
        <div class="book--rating">
            Rating: {{ calculateAverage(bookCollection[index].ratings)}}
        </div>

        <div class="book-data">
            <input [(ngModel)]="bookCollection[index].title" type="text" placeholder="New title">
            <input [(ngModel)]="bookCollection[index].description" type="text" placeholder="New description">
            <input [(ngModel)]="bookCollection[index].author" type="text" placeholder="New author">
            <igc-rating value="ratingVal" min="1" max="5" (igcChange)="onRatingChange($event)"></igc-rating>
            <button (click)="nextBook()">Next Book</button>
        </div>
    </div>
</div>

<div class="message" ngIf="ratingComplete">
    <div>
        All books have been rated successfully.
        <button (click)="restartBooks()">Restart Rating</button>
        <button (click)="stopEvaluation()">Stop Rating</button>
    </div>
</div>
